<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <!-- <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">-->
        <!-- <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap-grid.min.css"-->
        <!--   rel="stylesheet">-->
        <link href="css/bootstrap.min.css">
        <link href="css/bootstrap-grid.min.css">
    </head>
    <body>
        <!-- <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>-->
        <script src="js/bootstrap.min.js"></script>
        <div class="container" style="margin-top:100px; text-align: center">
            <div class="row border">
                <div class="col-12">
                    <p style="color: deepskyblue;font-size: 60px; font-family: 'Segoe UI Light'">clean code</p>
                </div>
            </div>

        </div>
    </body>
</html>